@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import "../../../../vendor/filament/filament/resources/css/base.css";

@config 'tailwind.config.js';

.fi-sidebar-header {
    background-color: #192334;
    color: #fffffc;
}

/** sidebar */
.fi-sidebar {
    background-color: #192334;
    color: #fffffc;
}

.fi-sidebar-item,
.fi-sidebar-item-icon,
.fi-sidebar-item-label {
    color: #fffffc; /* Cor padrão quando o item não está ativo nem em hover */
}

.fi-active .fi-sidebar-item-active .fi-sidebar-item,
.fi-active .fi-sidebar-item-active .fi-sidebar-item-icon,
.fi-active .fi-sidebar-item-active .fi-sidebar-item-label {
    color: #076fd1; /* Cor quando o item está ativo */
}

li.fi-sidebar-item:hover * {
    color: #076fd1 !important;
}
